[kernel]
mode=ubi
vol_id=0
vol_type=static
vol_name=kernel
vol_alignment=1
image=output/images/zImage

[fdt]
mode=ubi
vol_id=1
vol_type=static
vol_name=fdt
vol_alignment=1
image=output/images/ntc-gr8-crumb.dtb


[initrd]
mode=ubi
vol_id=2
vol_type=static
vol_name=initrd
vol_alignment=1
image=output/images/rootfs.cpio.uboot

[env]
mode=ubi
vol_id=3
vol_type=static
vol_name=env
vol_alignment=1
image=output/images/uboot-env.bin

# [fit]
# mode=ubi
# vol_id=4
# vol_type=static
# vol_name=fit
# vol_alignment=1
# image=output/images/bootimg.itb
# [ubifs]
# mode=ubi
# vol_id=3
# vol_type=static
# vol_name=rootfs
# vol_alignment=1
# image=BR2_ROOTFS_UBIFS_PATH
